<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <form>
        <input type="text" name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    </div>
    <p>
      <%= message %>
    </p>
  </body>
</html>
